nav {
    height: min-content;
    /* background-color: transparent; */
    width: 100vw;
    overflow: hidden;
    position: fixed;
    top: 0px;
    padding: 10px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 99;
    box-shadow: 0px 3px 20px #006eff;
    /* position: relative; */
}

#logo {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    color: black;
}

#logo span {
    display: inline-block;
}

.new {
    opacity: 0;
}

button {
    padding: 10px;
}

#options {
    display: flex;
    flex-wrap: wrap;
    background-color: rgba(255, 255, 255, 0.26);
    backdrop-filter: blur(20px);
    position: fixed;
    color: black;
    padding: 7px 20px;
    border-radius: 30px;
    /* box-shadow: 0px 2px 5px #006eff; */
    margin-top: 25px;
    left: 50%;
    right: unset;
    top: 0px;
    transform: translate(-50%);

}
#options .option {
    padding: 7px 12px;
    margin: 10px 2vmin;
    border-radius: 10px;
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;

}

#options .option p {
    font-size: 18px;
    font-weight: 500;
    color: white;
}

#options a {
    text-decoration: none;
}

.option span img {
    height: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    opacity: 0;
    transform: translate(-50%, -50%);
}

button {
    background-color: #ffffff;
    color: rgb(50, 47, 47);
    padding: 15px 20px;
    font-size: 20px;
    letter-spacing: 2px;
    border-radius: 10px;
    border: 2px solid rgb(255, 255, 255);
    outline: 2px solid black;
}

.active {
    scale: 1.2;
}

.active p {
    opacity: 0;
    rotate: 0deg 45deg 0deg;
}

.active span img {
    opacity: 1;
    rotate: 0deg 180deg 0deg;
}

.active p:hover {
    opacity: 1;
    rotate: 0deg;
}

.active span img:hover {
    opacity: 0;
    rotate: 0deg -45deg 0deg;
}

.cursor-pointer {
    display: unset;
}

.menu {
    display: none;
}

@media (max-width:1125px) {
   
    .connectBtn {
        display: none;
    }

    #options {
        position: fixed;
        z-index: 99;
        width: 250px;
        top: 12%;
        border-radius: 10px 10px 10px 20px;
        width: min-content;
        left: unset;
        right: -60px;
        height: min-content;
        /* display: none; */
    }
    .menu {
        display: flex;
    }
}