@import "tailwindcss";
@font-face {
  font-family: 'Audio';
  src: url('../Font/Audiowide/Audiowide-Regular.ttf') format('truetype');
  gap: 2px;
  font-weight: normal;
  font-style: normal;
}
@font-face{
  font-family: "mont1";
  src: url('../Font/Montserrat/Montserrat-Italic-VariableFont_wght.ttf') format('truetype');
  gap: 2px;
  font-weight: normal;
  font-style: normal;
}
@font-face{
  font-family: "mont2";
  src: url('../Font/Montserrat/Montserrat-VariableFont_wght.ttf') format('truetype');
  gap: 2px;
  font-weight: normal;
  font-style: normal;
}
:root{
  --b:#321E1E;
  --primary-color: #171717; /*black*/
  --text-color: #EDEDED  ;  /*white*/
  --secondary-color: #444444; /*grey*/
  /* --terminal-text: rgb(0, 2fwe24, 52); */
  --terminal-text: #06D001;
  --unique-color: #DA0037 ;/*reddis*/
}
/* *{
  padding: 0;
  margin: 0;
} */
html,body{
  /* background-color: rgb(192, 162, 12); */
  background-color: rgb(224, 112, 0);
}
main{
  margin-top: 100px; /*for testing */
  min-height: 100%;
}
nav{
  background-color: transparent;
  color: #ffffff;
}
nav #logo{
  color: white;
    font-family: 'Audio';
    font-size: 35px;
    font-weight: 800;
}
#options .option{
  border: 2px solid rgb(54, 34, 34);
    font-family:'Audio',sans-serif ;
}
#options .active .option{
    border: 2px solid transparent;
}
#options .option:hover{
    border: 2px solid transparent;
}
button{
  font-family:'Audio',sans-serif ;
}
.center{
  margin-top: 140px;
}
.center h2{
  font-family:'Audio' ;
}
marquee{
  font-family:'Audio',sans-serif ;
}
h1{
  font-family:'Bebas Neue',Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif ;
  color: white;
  letter-spacing: 2px;
  font-weight: 500;
  line-height: 7vmax;
  font-size: 10vmin;
}

/* about */
.about{
  background: #DA0037;
}

/* blogs */
.card{
  /* bg color for parent rgb(81, 48, 16) */
  background-color: #ffffff50;
  backdrop-filter: blur(50px);
  padding: 0px 20px;
}
.card .title{
font-family: 'Audio';
}