@font-face {
  font-family: 'Bebas Neue';
  src: url('../Font/BebasNeue-Regular.ttf') format('truetype');
  gap: 2px;
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Black ops';
  src: url('../Font/BlackOpsOne-Regular.ttf') format('truetype');
  gap: 2px;
  font-weight: normal;
  font-style: normal;
}
body {
  overflow: hidden;
  background-color: black;
  font-family: 'Bebas Neue', sans-serif;
  color: white;
}
h2{
  font-size: 100px;
  font-family: 'Black ops',sans-serif;
}
.name{
  font-family: 'Black ops',sans-serif;
  
}
.menu{
  transition: .4s;
  transform-origin: center;
  /* overflow:scroll; */
  flex-wrap: wrap;
  scrollbar-3dlight-color: blueviolet;
  -ms-overflow-style: none;  /* Hide scrollbar in IE/Edge */
  scrollbar-width: none;      /* Hide scrollbar in Firefox */
  
}
.menu ul li:hover{
  color: black;
  transition: .5s;
  scale: 1.1;
  background-color: rgba(235, 222, 222, 0.788);

}
.active{
  border-radius:25px;
  color: rgb(255, 0, 0);
}
marquee{
  font-family: 'Black ops',sans-serif;
}
/* Add this in your global styles (e.g., styles.css) */
.menu::-webkit-scrollbar {
  display: none; /* Hide scrollbar in WebKit (Chrome, Safari, Edge) */
}
.year{
  font-family: 'Black ops',sans-serif ;
  text-shadow:     0 0 5px #ff00ff, /* First layer of glow */
  0 0 10px #ff0000, 
  0 0 20px #ff0000, 
  0 0 40px #ff0000, 
  0 0 80px #ff0000;
  
}
/* date button */
.dbtn{
  cursor: pointer;
  margin: 14px;
  border-radius: 5px;
  border-left: 20px solid transparent; /* Left border is transparent */
  border-right: 20px solid transparent; /* Right border is transparent */
  border-bottom: 40px solid #007bff; /* Bottom border forms the visible triangle */

}
.hero{
  flex-direction: row;
}
.task{
  display: flex;
  word-wrap: normal;
  letter-spacing: 2px;
  font-size: 20px;
  align-items: start;
  justify-content: center;
}
.info{
    flex-wrap: wrap;
    width: 100%;
  }
@media (max-width: 600px){
  body{
    overflow: scroll;
  }
  .hero{
    flex-direction: column;
  }
  .info{
    display: none;
  }
  .task{
    letter-spacing: 1px;
  }
  .left,.right{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: min-content;
  }
  .year{
    position:absolute;
    bottom: 10px;
    flex-direction: row;
    align-items: center;
    font-size: 3rem;
  }
  .dbtn{
    border-left: 10px solid transparent; /* Left border is transparent */
    border-right: 10px solid transparent; /* Right border is transparent */
    border-bottom: 20px solid #007bff; /* Bottom border forms the visible triangle */
    rotate: 90deg;
  }

  .dbtn:first-child{
    rotate: -90deg;
  }}



/*
custom sccrollbar

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom, #ff0000, #ff7300);
  border-radius: 10px;
} */

.project{
  padding: 10px 5px  ;
}
/* .project img{

} */
