@import "tailwindcss";

@font-face {
  font-family: 'Audio';
  src: url('../Font/Audiowide/Audiowide-Regular.ttf') format('truetype');
  gap: 2px;
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "mont1";
  src: url('../Font/Montserrat/Montserrat-Italic-VariableFont_wght.ttf') format('truetype');
  gap: 2px;
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "mont2";
  src: url('../Font/Montserrat/Montserrat-VariableFont_wght.ttf') format('truetype');
  gap: 2px;
  font-weight: normal;
  font-style: normal;
}

:root {
  --b: #321E1E;
  --primary-color: #171717;
  /*black*/
  --text-color: #EDEDED;
  /*white*/
  --secondary-color: #444444;
  /*grey*/
  --nav-color:#0f2040;
  /* --terminal-text: rgb(0, 2fwe24, 52); */
  --terminal-text: #06D001;
  --unique-color: #DA0037;
  /*reddis*/
}

/* *{
  padding: 0;
  margin: 0;
} */
html,
body {
  width: 100%;
  background-color: rgb(21, 16, 33);
}

main {
  margin-top: 100px;
  /*for testing */
  overflow: hidden;
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

nav {
  color: #ffffff;
}

nav #logo {
  color: white;
  font-family: 'Audio';
  font-size: 35px;
  font-weight: 800;
}

#options .option {
  border: 2px solid rgb(54, 34, 34);
  font-family: 'Audio', sans-serif;
}

#options .active .option {
  border: 2px solid transparent;
}

#options .option:hover {
  border: 2px solid transparent;
}

button {
  font-family: 'Audio', sans-serif;
}

.center {
  margin-top: 150px;
}

.center h2 {
  font-family: 'Audio';
}

marquee {
  font-family: 'Audio', sans-serif;
}

h1 {
  font-family: 'Bebas Neue', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: white;
  letter-spacing: 2px;
  font-weight: 500;
  line-height: 7vmax;
  font-size: 10vmin;
}

/* about */
.about {
  margin-top: -11vh;
  background: #DA0037;
}

/* blogs */
.card {
  background-color: #ffffff50;
  backdrop-filter: blur(50px);
  padding: 0px 20px;
}

.card .title {
  font-family: 'Audio';
}

.center p {
  background-color: rgba(19, 1, 1, 0.301);
  mix-blend-mode: blur(20px);
  border-radius: 10px;
}

.homesocial {
  background-color :var(--nav-color);
}
.All {
  background-color: #0f114d;
  border-top: 1px solid white;
  box-shadow: inset 0px 3px 20px #006eff;
}
.skills {
  font-family: 'Audio';
  margin: 10px 20px;
}

.skills .card {
  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.08);
  padding: 10px 20px;
}

.connect{
  display: flex;
}
footer{
  margin-top: 20px;
  border-radius: 10px;
  border-top: 3px solid rgb(73, 73, 255);
  box-shadow: -2px -5px 20px rgb(13, 13, 232);
}
.tb{
 -webkit-text-stroke: 1px #0a0a0a;
}
@media (max-width:1125px) {
  nav {
    background-color: #0f114d;
  }

  .name {
    margin-top: 20px;
    width: 100vw;
  }

  .slogan {
    font-size: 10px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
  }

  /* .para {
    font-size: ;
  } */

  .center h2 {
    margin-top: -40px;
    font-size: 13vw;
    line-height: 70px;
  }

  .center p {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;

  }

  .about {
    height: 20vh;
  }

  .skills {
    text-align: center;
    justify-content: center;
    width: 100vw;
    justify-content: space-around;
  }

  .skills .card {
    /* padding: 0; */
    margin: 5;
  }

  .skillwrapper {
    padding: 10px;
    text-align: center;
  }
}

/* projects */
::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
/* body {
  /* -ms-overflow-style: none;  Internet Explorer and Edge */
/* scrollbar-width: none;     Firefox */
/* } */
/* .All{
  
} */